body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    height: 45vh;
}

.marg-img {
    background-image: url(./margheader.jpg);
    background-position: center;
    background-size: cover;
}


main {
    flex-grow: 1;
}

footer {
    height: 10vh;
}