body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    height: 45vh;
}

.marg-img {
    background-image: url(./margheader.jpg);
    background-position: center;
    background-size: cover;
}


main {
    flex-grow: 1;
}

.icon {
    margin-top: 2.5rem;
}
.icon-text {
    margin-top: 1rem;
}
.email-box {
    max-width: 15rem;
    align-items: center;
}

footer {
    height: 10vh;
}